// tipo de fuente

$font-primary: Raleway , sans-serif;
$title-size: 33px;
$text-size: 22px;
$paragraph-size: 12px;

// colores

$gray-shadow: #F8F8F8;
$gray-footer: #F3F3F3;
$black-footer: #000000;
$white-text: #ffffff;

// tamaños 

$service-row: 25%;

// images 
